fastapi
uvicorn
pymongo
motor
python-dotenv
pydantic
phonenumbers
passlib[bcrypt]
python-jose
unstructured
langchain
faiss-cpu
huggingface-hub
pdfminer.six
pi-heif
python-docx
sentence-transformers
unstructured_inference
transformers
pillow
pdf2image